#animation-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.anim1 {
    padding: 100px;
    padding-right: 150px;
    padding-left: 150px;
    margin-top: 50px;
    margin-left: 90px;
    background-color: orange;
    animation-name: animation1;
    border-radius: 15px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes animation1 {
    0% {
        background-color: darkorange;
    }
    25% {
        background-color: green;
    }
    50% {
        background-color: darkmagenta;
    }
    75% {
        background-color: red;
    }
    100% {
        background-color: lightblue;
    }
}

.anim2 {
    padding: 100px;
    padding-right: 150px;
    padding-left: 150px;
    margin-top: 50px;
    margin-left: 90px;
    animation-name: animation1;
    background-color: green;
    border-radius: 5px;
}

.anim2 {
    padding: 100px;
    padding-right: 150px;
    padding-left: 150px;
    margin-top: 50px;
    margin-left: 90px;
    background-color: green;
    animation-name: animation2;
    border-radius: 15px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animation2 {
    0% {
        background-color: red;
    }
    25% {
        background-color: darkmagenta;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: darkorange;
    }
    100% {
        background-color: lightblue;
    }
}

.anim1:hover {
  box-shadow: 10px 10px 5px grey;
}
.anim2:hover {
  box-shadow: 10px 10px 5px grey;
}

.title-indent {
    margin-left: 20px;
    margin-top: 7px;
}

.body-indent {
  margin-left: 25px;
  margin-top: 15px;
}

p {
    font-size: 18px;
}
